*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.Home {
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.Portada{
height: 100vh;
width: 100vw;
display:flex;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
text-align: center;
}

.Burger-logo {
    position:absolute;
    top: 55px;
    /*left: 40%;*/
    width: 420px;
    height: 380px;
    text-align: center;
    align-items: center;
}

.Slogan{
  position:absolute;
  font-weight: bold;
  font-family: 'Short Stack', cursive;
  font-size: 20px;
  top:65%;
  /*left:45%;*/
}
.Rol{
  font-family: 'Ranchers', cursive;
  position:absolute;
  font-size: 18px;
  top:72%;
  /*left:48%;*/
}
.rolSection{
  display:inline-block;
}
.buttonOne {
  position: absolute;
  top:80%;
  right: 55%;
  background-color:#FF9045;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  width: 15%;
  height: 6%;
  /*cursor: pointer;*/
}
.buttonTwo {
  position: absolute;
  top:80%;
  right: 30%;
  background-color:#FF9045;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  width: 15%;
  height: 6%;
  /*cursor: pointer;*/
}

.buttonOne:hover,
.buttonTwo:hover,
.buttonThree:hover {
  background: #FAC249;
  border-color:#FAC249;
}

.nameEmployee{
  top:90%;
  right:45%;
  position: absolute;
  display:inline-block;
  width: 25%;
  height: 6%;
  background: white;
  color: #91908E;
  border-bottom: 1px solid #91908E;
  border-radius: 50px;
  text-align: center;
  font-size:16px;
  font-weight: bold;
}

.buttonThree {
  position: absolute;
  top:90%;
  right: 33%;
  background-color:#FF9045;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  width: 10%;
  height: 6%;
  /*cursor: pointer;*/
}
